doctype html
html
	head
		title= title
		meta(charset = 'utf-8')
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js")
		block script
			
		style.
			.left{
				float: left;
				margin: 5px;
			}
		block styles

	body
		h2= 'Hello Template'

		if (logined)
			div(style='marin:30px') 歡迎,Admin
				a(href='/logout' style='padding:10px') logout
			br
			div.left
				a(href='/main') main		
			div.left
				a(href='/jQueryTest') jQueryTesting
			div.left
				a(href='/table') table
			div.left
				a(href='/loop') loop
			div.left
				a(href='/list') list
			div.left
				a(href='/form') form
		else
			div(style='marin:20px') Please login to continue.

		block content


