extends ./layout.jade


block content
	br
	br
	h3= title	
	
	form(action="/add" method = "POST")
		br
		input(type="text" name="add") 



	for i in todos
		div=i.content
		div
			a(href="/delete/"+i.id) del
		br


