extends ./layout.jade


block content
	br
	h3= title	
	form(action="/add" method = "POST")
		br
		input(type="text" name="add") 
		input(type="submit" value ="新增")

	for todo in todos
		div= todo.content